{% extends 'ExamWebBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <h4>Select Package:</h4>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Package Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if all %}
                {% for enrollment in all %}
                <tr>
                    <td>{{ enrollment.package.id }}</td>
                    <td>{{ enrollment.package.name }}</td>
                    <td><a href="/exam/{{ enrollment.id }}" target="_self" onclick="return confirm('Start Exam?');" class="button tiny radius no-margin">Start Exam</a></td>
                </tr>
                {% endfor %}
             {% else %}
                <tr style="text-align: center">
                    <td colspan="4">No Package</td>
                </tr>
             {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}