{% extends 'ExamWebBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="medium-6 medium-centered columns">
            <div class="panel saythanks">
                <h4 class="centered">Thank You!</h4>
                <hr/>
                <p>You have finished the exam! click back button to enroll next exam or close your browser to logout</p>
                <a href="/exam" class="button tiny success">Back</a>
            </div>
        </div>
    </div>
{% endblock %}